// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px
}

.logo {
    height: 20px;
    width: 100%;
}

.header img {
    object-fit: cover;
    height: 20px;
    float: left;
}

h1 {
    padding: 0px;
    margin: 0px;
    display: flex;
    font-size: 21px;
    font-family: Roboto;
    letter-spacing: -1px;
}

.login-form-container {
    display: flex;
    justify-content: center;
}

.login-form-box {
    width: 400px;
    margin-top: 100px;
    border: grey 1px solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
}

.login-form-box img {
    margin-top: 40px;
    object-fit: cover;
    height: 30px;
}

.signinfont {
    font-size: 20px;
}

.login-form {
    height: 260px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.createandlogin {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.session-submit {
    background-color: rgb(59, 111, 252);
    color: white;
    border-radius: 8px;
    font-size: 15px;
    width: 80px;
    height: 40px;
}

.login-input {
    padding: 13px 15px;
    margin: 1px 1px 0px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid grey;
}

.demo-submit {
    background-color: rgb(59, 111, 252);
    color: white;
    border-radius: 8px;
    font-size: 15px;
    width: 300px;
    height: 40px;
    margin: 15px;
}

.header-group {
    display: flex;
    flex-direction: column;
}

.header-name {
    margin: 0px;
    font-size: 20px;
}