// Place all the styles related to the Api::videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.wholeThing{
    display: flex;
    // flex-direction: column;
}
.upLoadPage {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    background-color: white;
}

.cameraLogo {
    font-weight: 900;
    font-size: 15px;
    margin-right: 15px;
    padding: 8px;
}

.titleInputBox {
    width: 500px;
    box-sizing: border-box;
    height: 100px;
    border: 1px solid rgba(194, 194, 194, 0.52);
    border-radius: 4px;
    margin: 30px;
}

.titleInput {
    width: 100%;
    height: 90px;
    padding: 15px;
    border: none;
    box-sizing: border-box;
    resize: none;
        font-size: 15px;
    
}

.descriptionBox {
    width: 500px;
    box-sizing: border-box;
    height: 375px;
    border: 1px solid rgba(194, 194, 194, 0.52);
    border-radius: 4px;
    margin: 30px;
}

.descriptionInput {
    width: 100%;
    height: 350px;
    padding: 15px;
    box-sizing: border-box;
    resize: none;
    border: none;
    font-size: 15px;
}

.publishButton {
  background-color: rgb(74, 74, 255);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
    width: 88px;
    height: 36px;
  font-size: 16px;
  border-radius: 4px;
//   padding-right: 30px;
}

.videoUploadButton {
  background-color: rgb(74, 74, 255);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  width: 200px;
}

.typeOfThumbnail {
    display: flex;
    justify-content: space-between;
}

.thumbnailText {
    justify-content: space-between;
}

.displayingThumbnail {
   
    width: 210px;
    height: 117px;
}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-left: 120px;
    font-weight: bold;
    font-family: Roboto;
}

.allVideos {
    display: flex;
    flex-wrap: wrap;
    padding-left: 120px;
    padding-top: 20px;
    
}
.indexBackground {
    z-index: 2;
    
}

.oneVideo {
    height: 204px;
    width: 210px;
    margin-right: 4px;
    margin-bottom: 24px;
}


.videoItSelf {
    width: 100%;
}

.videoTitleindex {
    width: 100%;
    font-size: 14px;
    padding: 5px 0px;
    font-weight: 500;
    font-family: Roboto;
    max-height: 3.2rem;
    text-overflow: ellipsis;
}

.usernameindex {
    color: grey;
    font-size: 13px;
    margin: 0px -1.3px 0px 0px;
    padding: 0px -1.3px 0px 0px;
    font-family: Roboto;
}

.videoTitleshow {
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 400;
}
.usernameHeader {
    display: flex;
    padding: 20px 0;
}

.username{
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
}
.usernameDateUploaded {
    padding-bottom: 20px;
}
button.editvideobutton {
    background-color: #3e3efd;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    justify-self: flex-end;
    height: 36px;
    width: 110px;
}


.dateuploaded {
    color: rgba(17, 17, 17, 0.6);
    font-size: 13px;
}

.description {
    font-size: 14px;
}

.videosubHeaderBox {
    border-bottom: 2px solid #e9e9e9;
    border-top: 2px solid #e9e9e9;
    font-family: Roboto;
}

.uploadersProfile {
    width: 38px;
    height: 38px;
    background-color: #aa47bc;
    color: white;
    outline: none;
    border: none;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.nextVideostext {
    display: flex;
    flex-direction: column;
    width:200px;
}

.oneVideoshow {
    display: flex;
    // flex-direction: column;
    padding: 5px 0px;
}

.displayingThumbnailshow {
    width: 168px;
    height: 94px;
    object-fit: fill;
    margin-right: 5px;
}

.LeftSectionofShow {
    margin: 0 0 0 40px;
    max-width: 60%;
    padding: 24px 24px 0 50px;
}

.userDescContainer {
    flex: 1;
}

.nextVideos {
    font-size: 16px;
    padding-bottom: 10px;
    // font-weight: bold;
    font-family: Roboto;
    padding: 24px 24px 0 0;
}

.titleUsernameInfoShow {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.videoTitleindexshow {
    width: 300px;
    overflow-wrap: break-word;
    font-size: 14px;
    margin: 0px 0px 4px;
    font-weight: 600;
}

.videoUsernameShow {
    font-size: 13px;
    color: grey;
    padding-top: 6px;
}

.recommended {
    color: grey;
    font-size: 13px;
    padding-top: 15px;
}

.publishbuttoncontainer {
    border-bottom: 1px solid rgba(160, 160, 160, 0.479);
        display: flex;
    justify-content: flex-end;
    padding: 10px 40px 10px 10px;
    margin: 10px;
}

.thumbnailcontainer {
    padding: 0px 30px;
}

.thumbnailText {
    font-size: 12px;
    margin: 12px 0px;
}

.underpublish {
    display: flex;
}

.thumbnailboxinupdate {
    border: 1px solid rgba(194, 194, 194, 0.52);
    width: 255px;
    height: 800px;
    position: relative;
    top: -77px;
}

.displayingThumbnailupdate {
    width: 255px;
    height: 145px;
    border-radius: 3px;
}

.videoItSelfupdate {
    width: 342px;
    height: 198px;
    border-radius: 5px 5px 0 0;
}

.videoinupdatecontainer {
    width: 342px;
    height: 300px;
    border: 1px solid rgba(194, 194, 194, 0.52);
    border-radius: 5px;
}